a[href^="tel:"] {
  color: inherit;
  text-decoration: none;
}
.img-indent {
  margin: 4px 18px 0 0;
  float: left;
}
.img-indent1 {
  margin: 3px 0 26px;
}
.img-indent2 {
  margin: 7px 23px 0 0;
  float: left;
}
.wrapper {
  width: 100%;
  overflow: hidden;
}
.center {
  text-align: center;
}
.aright {
  text-align: right;
}
.clear {
  clear: both;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  height: 0;
  width: 100%;
}
.relative {
  position: relative;
}
/*------ header ------- */
header {
  padding: 39px 0 35px;
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2a2a2a', endColorstr='#ff393939', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  position: relative;
  z-index: 20;
}
/* navbar */
.navbar_ {
  margin: 0;
  padding: 0;
}
.navbar_ .navbar-inner_ {
  padding: 0;
  margin: 0;
  border: none;
  min-height: inherit;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
/*nav*/
.navbar_ .nav {
  margin: 0 !important;
}
.navbar_ .container {
  position: relative;
}
.nav-collapse_ {
  z-index: 30;
  float: right;
  padding-top: 8px;
  margin: 0;
  position: relative;
}
.nav-collapse_ .nav li {
  margin: 0;
  padding: 0;
  position: relative;
  zoom: 1;
}
.nav-collapse_ .nav > li {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: none;
  margin-left: 5px;
}
.nav-collapse_ .nav > li:first-child {
  margin: 0;
}
.nav-collapse_ .nav li a {
  text-shadow: none;
  text-decoration: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}
.nav-collapse_ .nav > li > a .sf-sub-indicator {
  background: url(../img/indicator.png) no-repeat 0 0;
  width: 7px;
  height: 4px;
  position: absolute;
  display: block;
  bottom: 7px;
  left: 50%;
  margin-left: -3px;
  z-index: 5;
}
.nav-collapse_ .nav > li > a {
  font-weight: normal;
  padding: 0;
  margin: 0;
  display: block;
  background: none;
  position: relative;
  z-index: 10;
  background: url(../img/point.png);
  padding: 11px 26px 12px;
}
.nav-collapse_ .nav > li.sfHover > a,
.nav-collapse_ .nav > li.sfHover > a:hover,
.nav-collapse_ .nav > li > a:hover,
.nav-collapse_ .nav > li.active > a,
.nav-collapse_ .nav > li.active > a:hover {
  background: url(../img/tail-item-hover.gif) repeat-x 0 0 #acacac;
  color: #252525;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 2px #28282a;
  -moz-box-shadow: 0 2px 2px #28282a;
  box-shadow: 0 2px 2px #28282a;
}
.navbar_ .nav > .active > a,
.navbar_ .nav > .active > a:hover,
.navbar_ .nav > .active > a:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.nav-collapse_ .nav > li.sfHover > a .sf-sub-indicator,
.nav-collapse_ .nav > li.active > a .sf-sub-indicator {
  background-position: 0 bottom;
}
.sub-menu > a {
  position: relative;
}
.nav-collapse_ .nav ul {
  position: absolute;
  display: none;
  width: 129px;
  left: -13px;
  top: 52px;
  list-style: none;
  zoom: 1;
  z-index: 11;
  background: url(../img/tail-ul.gif) repeat-x 0 0 #3a3a3a;
  padding: 23px 0 22px;
  margin: 0;
  -webkit-box-shadow: 1px 2 px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 2 px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 2 px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.nav-collapse_ .nav ul:before {
  position: absolute;
  top: -12px;
  left: 50%;
  margin-left: -7px;
  width: 14px;
  height: 12px;
  background: url(../img/angle-ul.png) no-repeat 0 0;
  content: "";
}
.nav-collapse_ .nav ul ul:before {
  position: absolute;
  top: 6px;
  left: -12px;
  margin-left: 0px;
  width: 12px;
  height: 15px;
  background: url(../img/angle-ul-ul.png) no-repeat 0 0;
  content: "";
}
.nav-collapse_ .nav ul ul {
  background: url(../img/tail-ul-ul.gif) repeat-x 0 0 #acacac;
  left: 146px;
  top: 0px;
}
.nav-collapse_ .nav ul li a {
  display: block;
  background: none;
  color: #ffffff;
  padding: 6px 0;
}
.nav-collapse_ .nav ul ul li a {
  color: #5b5b5b;
}
.nav-collapse_ .nav > li > ul li > a:hover,
.nav-collapse_ .nav > li > ul li.sfHover > a {
  text-decoration: none;
  color: #ffffff;
  background: #7b7b7b;
}
.nav-collapse_ .nav ul .sf-sub-indicator {
  background: url(../img/indicator2.png) no-repeat 0 bottom;
  width: 7px;
  height: 4px;
  position: absolute;
  display: block;
  top: 12px;
  left: auto;
  right: 10px;
  z-index: 5;
}
.navbar_ .brand {
  margin: 0;
  display: block;
  float: left;
  padding: 0;
}
.navbar_ .brand a {
  display: inline-block;
}
.navbar_ .brand a:hover {
  text-decoration: none;
}
/*------ row-top ------- */
.row-top {
  position: relative;
  z-index: 18;
}
.box-slogan {
  background: url(../img/img-box-slogans.jpg) no-repeat 50% 0;
  max-height: 505px;
  height: 505px;
  text-transform: uppercase;
  position: relative;
}
.box-slogan .slogans {
  padding-top: 102px;
  width: 718px;
}
.box-slogan figure {
  margin: 16px 44px 0 0;
  float: left;
  display: none;
}
.box-slogan strong {
  font-family: 'Open Sans', sans-serif;
  display: block;
  color: #dddddd;
  font-weight: bold;
  font-size: 90px;
  line-height: 92px;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.1);
}
.box-slogan strong + strong {
  font-size: 50px;
  line-height: 52px;
}
.box-slogan strong + strong + strong {
  font-size: 50px;
  line-height: 52px;
  font-weight: normal;
  padding: 4px 0 20px;
}
.box-slogan p {
  font-size: 17px;
  line-height: 24px;
  color: #ffffff;
}
.box-slogan p span {
  font-weight: bold;
  display: block;
}
.iphone {
  position: absolute;
  right: 100px;
  top: 56px;
}
.box-btn {
  background-color: #5f5f5f;
  background-image: -moz-linear-gradient(top, #808080, #2e2e2e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#808080), to(#2e2e2e));
  background-image: -webkit-linear-gradient(top, #808080, #2e2e2e);
  background-image: -o-linear-gradient(top, #808080, #2e2e2e);
  background-image: linear-gradient(to bottom, #808080, #2e2e2e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff808080', endColorstr='#ff2e2e2e', GradientType=0);
  overflow: hidden;
}
.start-price {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #bcbcbc;
  font-size: 20px;
  line-height: 20px;
  float: left;
  padding: 33px 104px 41px 0;
  margin-right: -50px;
}
.start-price span {
  display: block;
  font-size: 52px;
  line-height: 52px;
  color: #ffffff;
}
.buttons {
  float: left;
  overflow: hidden;
  padding-top: 45px;
}
.buttons a {
  float: left;
  margin-right: 23px;
  width: 167px;
}
.buttons a img {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.buttons a:hover img {
  opacity: 0.7;
}
/*------ h1, h2, h3, h4, h5, h6 ------- */
h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  color: #646464;
  font-family: 'Open Sans', sans-serif;
  line-height: 1em;
  font-weight: 600;
}
header h1 {
  padding: 0;
  margin: 0;
}
h2 {
  color: #a8a8a8;
  font-size: 50px;
  padding-bottom: 13px;
}
h2 a {
  color: #a8a8a8;
}
h2 a:hover {
  text-decoration: none;
  color: #313131;
}
h3 {
  font-size: 35px;
  padding: 48px 0 16px;
  margin: 0;
  font-weight: 600;
}
.extra-content h3 {
  padding: 64px 0 19px;
}
h3 span {
  color: #ababab;
}
h4 {
  font-size: 18px;
  padding: 25px 0 23px;
  margin: 0;
  letter-spacing: -1px;
  text-transform: uppercase;
}
h4 a {
  color: #333333;
}
h4 a:hover {
  text-decoration: none;
  color: #ffa430;
}
h5 {
  font-size: 28px;
  padding: 0px 0 21px;
  margin: 0;
  color: #ffa430;
  letter-spacing: -1px;
  text-transform: uppercase;
}
h7 {
  font-size: 38px;
  padding: 0px 0 21px;
  margin: 0;
  color: #801f2a;
  letter-spacing: -1px;
  text-transform: uppercase;
}
h7.gold {
  font-size: 38px;
  padding: 0px 0 21px;
  margin: 0;
  color: #d9911e;
  letter-spacing: -1px;
  text-transform: uppercase;
}
h7.blue {
  font-size: 38px;
  padding: 0px 0 21px;
  margin: 0;
  color: #1b2d54;
  letter-spacing: -1px;
  text-transform: uppercase;
}		

p {
  padding-bottom: 20px;
  margin: 0;
}
.link {
  color: #ffa430;
}
.link:hover {
  text-decoration: none;
}
.padd-top {
  padding-top: 16px;
}
/*--- header end ------*/
/*------ content ------- */
#content {
  position: relative;
  padding: 0 0 33px;
  background: #fff;
  z-index: 10;
}
#content ul {
  list-style: outside none;
}
.thumbnail-1 {
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0;
}
.left-0 {
  margin-left: 0 !important;
}
.overflow {
  overflow: hidden;
}
.indent-1 {
  padding-right: 0px;
}
/*----------- row-extra--------------*/
.row-extra {
  background-color: #e8e8e8;
  background-image: -moz-linear-gradient(top, #dcdcdc, #f9f9f9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dcdcdc), to(#f9f9f9));
  background-image: -webkit-linear-gradient(top, #dcdcdc, #f9f9f9);
  background-image: -o-linear-gradient(top, #dcdcdc, #f9f9f9);
  background-image: linear-gradient(to bottom, #dcdcdc, #f9f9f9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdcdcdc', endColorstr='#fff9f9f9', GradientType=0);
}
.glow {
  background: url(../img/glow.png) no-repeat 50% 0;
  border-bottom: #e7e7e7 1px solid;
  padding: 68px 0 34px;
}
.box-1 {
  text-align: center;
  padding-bottom: 16px;
}
.box-1 figure {
  margin: 0 0 9px;
  display: inline-block;
}
.txt-1 {
  color: #b5b5b5;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 25px;
  line-height: 25px;
  padding-bottom: 18px;
}
.txt-1 a {
  color: #b5b5b5;
  display: inline-block;
}
.txt-1 a:hover {
  color: #313131;
  text-decoration: none;
}
.list-icons {
  margin-left: 0;
  overflow: hidden;
}
.list-icons li {
  float: left;
  margin-left: 28px;
}
.list-icons li a img {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.list-icons li a:hover img {
  opacity: 0.7;
}
.list-icons li:first-child {
  margin: 0;
}
/*----------- tweet--------------*/
.tweet {
  padding-top: 2px;
}
.tweet_list {
  margin: 0;
}
.tweet .tweet_list li {
  background: url(../img/tweet-img.png) no-repeat 0 6px;
  color: #8e8e8e;
  line-height: 23px;
  position: relative;
  padding-left: 80px;
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 10px;
  margin-bottom: 12px;
  min-height: 60px;
}
.tweet .tweet_list li.last {
  border: none;
  padding-bottom: 0;
}
.tweet .tweet_list li .tweet_time a {
  color: #c6c6c6;
}
.tweet .tweet_list li a:hover {
  text-decoration: none;
  color: #2f2f2f;
}
.tweet .tweet_list li .tweet_text a {
  font-weight: bold;
}
/*----------- carousel--------------*/
.list-news {
  margin: 0;
}
.list-news li {
  overflow: hidden;
  border-top: 1px solid #e9e9e9;
  margin-top: 17px;
  padding-top: 13px;
}
.list-news li:first-child {
  border: none;
  padding: 0;
  margin-top: 0;
}
.list-news li .txt-1 {
  padding-bottom: 15px;
}
.date-comment {
  float: left;
  width: 70px;
  margin-right: 18px;
  text-align: center;
  margin-top: 3px;
}
.date-comment time {
  background-color: #6a6a6a;
  background-image: -moz-linear-gradient(top, #808080, #484848);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#808080), to(#484848));
  background-image: -webkit-linear-gradient(top, #808080, #484848);
  background-image: -o-linear-gradient(top, #808080, #484848);
  background-image: linear-gradient(to bottom, #808080, #484848);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff808080', endColorstr='#ff484848', GradientType=0);
  font-family: 'Open Sans', sans-serif;
  display: block;
  color: #ffffff;
  font-size: 25px;
  line-height: 28px;
  border-bottom: 1px solid #484848;
  padding: 8px 0 12px 0;
}
.date-comment time strong {
  display: block;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
}
.comment {
  background-color: #4b4b4b;
  background-image: -moz-linear-gradient(top, #5f5f5f, #2e2e2e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5f5f5f), to(#2e2e2e));
  background-image: -webkit-linear-gradient(top, #5f5f5f, #2e2e2e);
  background-image: -o-linear-gradient(top, #5f5f5f, #2e2e2e);
  background-image: linear-gradient(to bottom, #5f5f5f, #2e2e2e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5f5f5f', endColorstr='#ff2e2e2e', GradientType=0);
  border-top: 1px solid #8f8f8f;
  display: block;
  width: 100%;
  text-align: center;
  padding: 7px 0 2px;
}
.comment span {
  background: url(../img/img-comment.png) no-repeat 50% 50%;
  width: 26px;
  height: 18px;
  display: inline-block;
}
.comment:hover {
  background-color: #424242;
  background-image: -moz-linear-gradient(top, #2e2e2e, #5f5f5f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2e2e2e), to(#5f5f5f));
  background-image: -webkit-linear-gradient(top, #2e2e2e, #5f5f5f);
  background-image: -o-linear-gradient(top, #2e2e2e, #5f5f5f);
  background-image: linear-gradient(to bottom, #2e2e2e, #5f5f5f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2e2e2e', endColorstr='#ff5f5f5f', GradientType=0);
}
/*----------- list-mission--------------*/
.list-mission {
  margin: 0 0 14px;
}
.list-mission dt {
  margin: 0;
  font-size: 14px;
  line-height: 23px;
  font-weight: bold;
}
.list-mission dd {
  font-weight: normal;
  padding-bottom: 16px;
  margin-left: 0;
}
/*----------- list-staff--------------*/
.list-staff {
  overflow: hidden;
  margin: 6px 0 0;
}
.list-staff figure {
  margin: 0;
}
.list-staff li {
  margin-bottom: 25px;
}
/*----------- .testimonials--------------*/
.testimonials .span3 {
  margin-bottom: 18px;
  padding-top: 3px;
}
.testimonials blockquote {
  background: url("../img/blockquote.gif") no-repeat 0 5px;
  border: medium none;
  display: block;
  margin: 0;
  overflow: hidden;
  padding: 0 0 19px 38px;
}
.testimonials p {
  font-size: 14px;
  line-height: 23px;
  font-weight: normal;
}
.testimonials span {
  color: #c6c6c6;
  display: block;
  line-height: 20px;
}
.testimonials span a {
  font-weight: bold;
  color: #8e8e8e;
}
/*----------- list-services--------------*/
.list-clients {
  margin: 7px 0 0 -30px;
  overflow: hidden;
}
.list-clients figure {
  margin: 0 0 10px;
}
.list-clients a {
  font-family: 'Open Sans', sans-serif;
  color: #6b6b6b;
  text-transform: uppercase;
  font-weight: bold;
}
.list-clients li {
  margin-bottom: 23px;
}
/*----------- list-services--------------*/
.list-services {
  padding-top: 7px;
}
/*------ list ------- */
.list {
  margin: 0;
  overflow: hidden;
  padding-bottom: 11px;
  padding-top: 0px;
}
.list.extra {
  padding-bottom: 0;
}
.list li {
  background: url(../img/marker-1.png) no-repeat 0 5px;
  padding-left: 15px;
  padding-bottom: 9px;
  line-height: 20px;
}
.list li a {
  color: #8e8e8e;
  font-size: 13px;
  font-weight: bold;
}
.list li a:hover {
  color: #313131;
  text-decoration: none;
}
/***** map *****/
.map {
  margin: 7px 0 -9px;
  line-height: 0;
}
.map iframe {
  border: none;
  width: 100%;
  height: 464px;
}
/*------ mail & address------- */
.address-1 strong {
  display: block;
}
.address-1 span {
  display: block;
}
.address-1 p {
  padding-bottom: 18px;
}
.mail-1 {
  color: #444444;
}
/***** contact form *****/
#contact-form {
  position: relative;
  vertical-align: top;
  z-index: 1;
  margin: 0px 0 20px;
}
.txt-form {
  padding-bottom: 1px;
  display: block;
}
.coll-1,
.coll-2,
.coll-3 {
  float: left;
  width: 200px;
}
.coll-1,
.coll-2 {
  margin-right: 10px;
}
#contact-form div {
  overflow: hidden;
}
#contact-form fieldset {
  border: none;
  padding: 0;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 10;
}
#contact-form label {
  display: block;
  min-height: 42px;
  position: relative;
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
}
#contact-form .message {
  min-height: 108px;
  display: block !important;
  width: 100%;
}
#contact-form input,
#contact-form textarea {
  font-family: Arial, Helvetica, sans-serif;
  padding: 4px 10px 5px;
  margin: 0;
  font-size: 14px;
  line-height: 20px !important;
  color: #8e8e8e;
  background: none;
  outline: none;
  width: 100%;
  border: 1px solid #dbdbdb;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  float: left;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#contact-form input {
  height: 29px;
}
#contact-form input:focus,
#contact-form textarea:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#contact-form .area .error {
  float: none;
}
#contact-form textarea {
  width: 100%;
  height: 88px;
  resize: none;
  overflow: auto;
}
#contact-form .success {
  border: 1px solid #dbdbdb;
  display: none;
  position: absolute;
  left: 0;
  top: 4px;
  color: #000;
  font-size: 18px;
  line-height: 22px;
  background: #ffffff;
  text-align: center;
  text-transform: none;
  width: 100%;
  z-index: 20;
}
#contact-form .success span {
  display: block;
  text-align: center;
  padding: 14px 10px;
}
#contact-form .error,
#contact-form .empty {
  color: #f00;
  font-size: 11px;
  line-height: 1.27em;
  display: none;
  overflow: hidden;
  padding: 2px 4px 0px 0;
  width: 100%;
  text-transform: none;
  position: absolute;
  bottom: -1px;
  left: 0;
}
#contact-form .message .error,
#contact-form .message .empty {
  bottom: 5px;
}
.buttons-wrapper {
  position: relative;
  text-align: right;
}
.buttons-wrapper a {
  margin-left: 2px;
  cursor: pointer;
  margin-top: 0;
}
.buttons-wrapper a:hover {
  text-decoration: none;
}
/*----------- buttons & links--------------*/
.btn-1 {
  background-color: #6b6b6b;
  background-image: -moz-linear-gradient(top, #8c8c8c, #3a3a3a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8c8c8c), to(#3a3a3a));
  background-image: -webkit-linear-gradient(top, #8c8c8c, #3a3a3a);
  background-image: -o-linear-gradient(top, #8c8c8c, #3a3a3a);
  background-image: linear-gradient(to bottom, #8c8c8c, #3a3a3a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8c8c8c', endColorstr='#ff3a3a3a', GradientType=0);
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
  font-weight: 600;
  padding: 11px 28px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  text-shadow: none;
  border: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.btn-1:hover {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  background-color: #5b5b5b;
  background-image: -moz-linear-gradient(top, #3a3a3a, #8c8c8c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3a3a3a), to(#8c8c8c));
  background-image: -webkit-linear-gradient(top, #3a3a3a, #8c8c8c);
  background-image: -o-linear-gradient(top, #3a3a3a, #8c8c8c);
  background-image: linear-gradient(to bottom, #3a3a3a, #8c8c8c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3a3a3a', endColorstr='#ff8c8c8c', GradientType=0);
  text-decoration: none;
  color: #ffffff;
  background-position: 0 0;
}
.policy {
  padding: 2px 0 20px;
}
.policy p strong {
  display: block;
}
.policy p {
  padding-bottom: 23px;
}
/* block-404 */.block-404 {
  overflow: hidden;
  padding-top: 42px;
}
.block-404 .img-404 {
  float: left;
  margin: 12px 81px 0 62px;
}
.box-404 {
  overflow: hidden;
  padding-right: 17px;
}
.box-404 p {
  font-weight: bold;
  padding-bottom: 22px;
}
.txt-404 {
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 20px;
  color: #646464;
}
.txt-404 strong {
  display: block;
  font-weight: 600;
  font-size: 60px;
  line-height: 64px;
}
.txt-404 span {
  font-weight: 600;
  display: block;
  font-size: 26px;
  line-height: 43px;
}
/* search-form 404 */#search {
  position: relative;
  padding-top: 4px;
}
#search input {
  font-family: Arial, Helvetica, sans-serif;
  padding: 4px 10px 5px;
  margin: 5px 8px 0 0;
  font-size: 14px;
  line-height: 20px !important;
  color: #8e8e8e;
  background: none;
  outline: none;
  width: 100%;
  border: 1px solid #dbdbdb;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  float: left;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 29px;
  width: 314px;
}
#search input:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#search a {
  width: 100px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}
/*--- content end ------*/
/*------ footer ------- */
footer {
  padding: 36px 0;
  background-color: #626262;
  background-image: -moz-linear-gradient(top, #061330, #1b2c52);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#061330), to(#1b2c52));
  background-image: -webkit-linear-gradient(top, #061330, #1b2c52);
  background-image: -o-linear-gradient(top, #061330, #1b2c52);
  background-image: linear-gradient(to bottom, #061330, #1b2c52);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#061330', endColorstr='#1b2c52', GradientType=0);
}
footer .pull-right {
  text-align: right;
}
.privacy {
  font-size: 12px;
  color: #d2d2d2;
  tline-height: 18px;
  float: left;
  display: block;
  width: 50%;
}
.privacy img {
  margin: -2px 6px 0 0;
}
.privacy a {
  color: #d2d2d2;
}
.list-soc {
  text-align: right;
  overflow: hidden;
}
.list-soc a {
  display: inline-block;
  float: left;
  margin-left: 8px;
  width: 39px;
  height: 40px;
}
.list-soc a img {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.list-soc a:first-child {
  margin: 0;
}
.list-soc a:hover img {
  opacity: 0.7;
}
/*--- footer end ------*/
@media only screen and (min-width: 1300px) {
  .nav-collapse_ {
    margin: 0 -24px 0 0;
  }
  .box-slogan figure {
    display: block;
  }
  .buttons a {
    width: 259px;
  }
  .buttons {
    padding-top: 28px;
  }
  .start-price {
    margin-right: -40px;
  }
  .coll-1,
  .coll-2,
  .coll-3 {
    width: 250px;
  }
  #contact-form label {
    display: inline-block;
  }
  #search input {
    width: 541px;
  }
}
@media only screen and (max-width: 979px) {
  .iphone {
    display: none;
  }
  .box-slogan .slogans {
    width: 100%;
  }
  #contact-form label {
    display: block;
  }
  #contact-form input,
  #contact-form textarea {
    width: 100%;
  }
  .navbar_ .nav-collapse_ {
    height: auto !important;
    overflow: inherit;
  }
  .block-404 .img-404 {
    float: none;
    margin: 0;
  }
  .block-404 {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .block-404 .box-404 {
    text-align: left;
  }
  #search input {
    width: 100%;
    margin: 0 0 10px;
  }
  #search a {
    float: right;
  }
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .nav-collapse_ {
    clear: none;
  }
  .navbar_ .brand a {
    width: 200px;
  }
  .nav-collapse_ .nav > li > a {
    padding: 11px 20px 12px;
  }
  .nav-collapse_ .nav ul {
    left: -19px;
  }
  .img-indent {
    width: 100%;
  }
  h3 {
    font-size: 30px;
  }
  .navbar_ .btn-navbar {
    display: none;
  }
  .nav-collapse_ .nav > li {
    float: left;
  }
  .coll-1,
  .coll-2,
  .coll-3 {
    width: 152px;
  }
  #contact-form input,
  #contact-form textarea {
    width: 100%;
  }
  .address-1 span {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  header {
    padding-bottom: 0;
  }
  body {
    padding: 0;
  }
  .sf-menu {
    display: none !important;
  }
  header .container,
  #content .container {
    margin-left: 20px;
    margin-right: 20px;
  }
  .navbar_ .brand {
    float: none;
  }
  .navbar_ {
    float: none;
  }
  .navbar_ .nav-collapse_ {
    float: none;
    display: none;
  }
  .navbar_ .btn-navbar {
    display: none;
  }
  .select-menu {
    display: block !important;
    color: #ffffff;
    border: 1px solid #313131;
    background: #131313 !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    margin: 18px 0;
  }
  .select-menu option {
    padding-bottom: 4px;
  }
  .box-slogan .slogans {
    padding: 50px 20px;
    width: auto;
  }
  .box-slogan {
    height: auto;
  }
  .box-btn {
    padding: 0 20px;
  }
  .img-indent1 {
    float: left;
    margin-right: 20px;
  }
  .glow {
    background: none;
  }
  .box-slogan strong {
    font-size: 70px;
    line-height: 72px;
  }
  .list-staff {
    margin-left: -20px;
  }
  .list-staff li {
    width: 28%;
    float: left;
    margin-left: 20px;
  }
  .list-staff li img {
    width: 100%;
  }
  .list-clients {
    margin-left: -20px;
  }
  .list-clients li {
    float: left;
    margin-left: 20px;
    width: 45%;
  }
  .list-clients li figure img {
    width: 100%;
  }
  .list-services li figure {
    float: left;
    margin: 0 20px 12px 0;
  }
  .list-services li h4 {
    padding-top: 0;
  }
  .coll-1,
  .coll-2,
  .coll-3 {
    width: 100%;
    float: none;
  }
  .policy .pull-right {
    float: none;
  }
  footer {
    padding-left: 20px;
    padding-right: 20px;
  }
  .block-404 {
    margin: 0 0 27px;
  }
}
@media only screen and (max-width: 560px) {
  .img-indent1 {
    float: none;
    margin-right: 0px;
  }
  .img-indent1 img {
    width: 100%;
  }
  footer .pull-right {
    float: none;
    width: auto;
    text-align: left;
  }
  .box-phone {
    text-align: left;
  }
  .list-soc {
    text-align: left;
    padding: 20px 0;
  }
  .privacy {
    float: none;
    width: auto;
  }
}
@media only screen and (max-width: 500px) {
  .box-slogan p {
    display: none;
  }
  .img-indent2 {
    float: none;
    margin: 7px 0 12px 0;
  }
  .img-indent2 img {
    width: 100%;
  }
}
@media only screen and (max-width: 655px) {
  .box-btn {
    text-align: center;
  }
  .start-price {
    padding: 18px 0;
    background: none;
    margin: 0;
    float: none;
  }
  .buttons {
    padding: 0;
    float: none;
  }
  .buttons a {
    float: none;
    margin: 0 0 12px;
    display: inline-block;
  }
}
@media only screen and (max-width: 480px) {
  .btn_ {
    font-size: 20px;
    padding: 18px 16px;
  }
  .img-indent {
    float: none;
    width: 100%;
    margin: 0 0 18px 0;
    display: block;
  }
  .img-indent img,
  .img-indent1 img {
    width: 100%;
  }
  .list-clients {
    margin-left: 0px;
  }
  .list-clients li {
    float: none;
    margin-left: 0px;
    width: 100%;
  }
  .list-clients li figure img {
    width: 100%;
  }
}
@media only screen and (max-width: 420px) {
  .list-staff {
    margin-left: 0;
  }
  .list-staff li {
    float: none;
    width: 100%;
    margin-left: 0;
  }
  .list-staff li img {
    width: 100%;
  }
  .privacy img {
    width: 46%;
  }
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
